@font-face {
    font-family: "Arena Condensed";
    src: url("../fonts/Arena Condensed.ttf") format("truetype");
}
*{
    font-family:Arena Condensed, regular;
}
/*loader css*/
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999999;
    background-color: #328EDB;
    right: 0;
    left: 0;
}
.loading svg {
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
svg:not(:root) {
    overflow: hidden;
}

.loading #pulsar{
  stroke-dasharray:281;
  -webkit-animation: dash 2.5s infinite linear forwards;
}
/*Animation*/
@-webkit-keyframes dash{ from{stroke-dashoffset:814;} to {stroke-dashoffset:-814;}}
/*loader css ends*/
/*header css starts here*/
.header-div{
    background-color:#328EDB;
}
.logo-img-div{
    border-top:10px solid #1470BD;
    background: #328EDB;
}
.logo-img{
    margin:20px auto 0;
}
.videosection {
    margin-top:30px !important;
}
.articles-panel {
    background:#E1E1E1;
    margin-bottom:10px;
    min-height:123px;
}
.articletitle {
    font-size:26px !important;
}
.clearfix {
    clear:both;
}
.articlevideo {
    margin-top:30px;
}
/* Gallery */
.gallerydiv {
    margin-top:30px;
}
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}
.viewimagebtn {
    line-height:120px;
}
.backbtn {
    margin-bottom:10px;
}
.mapsidebar {
    width:20%;
    height:100%;
    display:none;
}
#map_canvas {
  min-height:450px;
  height: 100%;
  width: 100%;
}

#side_bar {
  height: 100%;
  width: 20%;
  overflow: auto;
}

@media print {
  #map_canvas {
    height: 650px;
  }
}
#search-panel {
  position: absolute;
  visibility:hidden;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  width: 350px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#target {
  width: 345px;
}
/* Gallery */
.modal-content, .modal-header {
    border-radius:0px !important;
}
.modal-header{
    padding:10px !important;
}
.modal-footer {
    padding:5px !important;
}
.modal-header .close {
    margin-top: -15px !important;
    z-index:10;
}
*{
 list-style-type: none;   
}
.no-padding{
    padding:0px;
}
.full-padding{
    padding:0px 15px 15px;
}
.navbar{
    padding:0px;
    margin-top:50px;
}
.nav-li{
    border-bottom: 1px solid #1366AA;
    transition: 0.6s ease;
}
.nav-li a{
    display:block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.nav-li:last-child{
    border:none;
}
.nav-li span{
    margin-right: 15px;
    height: 50px;
    width: 45px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #125A95;
    display: inline-block;
    transition: 0.6s ease;
}
.active span{
    color:#125A95;
    background-color:#fff;
}
.nav-li:hover span{
    color:#125A95;
    background-color:#fff;
}
.apple-store-apps-data, .play-store-apps-data{
    border-radius:6px;
    background-color:#fff;
    text-decoration:none;
    display:block;
}
.apple-store-apps-data {
    margin:50px auto 0;
}
.app-store{
    color: #0F6BB6;
    font-size: 44px;
    padding: 0px 0px 0px 20px;
}
.padding-left{
    padding-left: 7px;
}
.apple-available-text, .play-available-text {
    font-size: 14px;
    color: #0F6BB6;
    padding: 6px 0px 0px 0px;
    display: block;
    letter-spacing: 1px;
}
.apple-app-store-text, .play-app-store-text{
    display: block;
    font-size: 28px;
    color: #0F6BB6;
    line-height: 26px;
}
.play-store img{
    margin: 10px 10px 10px 18px;
    height: 36px;
    width: 36px;
}
.play-store-apps-data{
    margin:12px auto 20px;
}
.apple-store-apps-data:hover, .play-store-apps-data:hover{
    opacity:0.8;
}
.privacy-policy-topmargin{
    margin: 140px auto 30px;
}
.term-condition, .privacy-policy, .disclaimer{
    display: block;
    padding: 2px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.terms-anchor a:focus, .privacy-anchor a:focus, .disclaimer-anchor a:focus{
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    color: #fff; 
    text-decoration: none; 
}
.terms-anchor a:hover, .privacy-anchor a:hover, .disclaimer-anchor a:hover{
    color: #fff; 
    text-decoration: underline; 
}
.modal-header {
    background-color: #328EDB;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modal-title {
    border-radius: 6px;
    padding: 0px 10px;
    color: #fff;
    position: relative;
}
.close {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal-close-btn {
    border-radius: 4px;
    background-color: #328EDB;
    border: 0px;
    padding: 6px;
    color: #fff;
}
.copyright-margin{
    margin:50px auto 0px;
}
.copyright, .copyright-ace-health{
    color:#fff;
    display:block;
    padding:2px;
    text-align:center;
    text-decoration:none;
    font-size: 14px;
    font-weight: 400;
}
.copyright-ace-health:hover{
    text-decoration:none;
    color:#fff;
}
/*header css ends here*/
/*index page css starts here*/
.player-background{
    background-image:url(../images/mp3back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
}
.add-background{
    background-image:url(../images/advrback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
}
.audioplayer {
    margin: 0px 48px;
}
.player-left{
    vertical-align: middle;
    position: absolute;
    left: 0;
    height: 44px;
    top:-1px;
    transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
.player-right{
    vertical-align: middle;
    position: absolute;
    right: 0;
    height: 44px;
    top:-1px;
    transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
.social-icons{
    margin: 0px auto;
    padding:0px 0px 0px 16px;
    width: 190px;
}
.social-icons li{
    padding: 3px;
    float:left;
}
.social-icons li a{
    text-decoration:none;
}
.social-icons li a .fa{
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #2991E6;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.social-icons li:hover .fa{
    opacity: 0.9;
}
.advertise a{
    color: #fff;
    font-size: 14px;
    padding: 6px 0px 8px 28px;
    display: block;
    text-decoration: none;
}
.news-updates{
    display: block;
    padding: 8px;
    font-size: 24px;
    background-color: #01973D;
    color: #fff;
}
#triangle-right {
	width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-left: 29px solid #01973D;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 999;
}
#new-arrow{
	width: 0;
    height: 0;
    border-top: 33px solid transparent;
    border-left: 38px solid #fff;
    border-bottom: 33px solid transparent;
    position: absolute;
    right: -29px;
    top: -8px;
    z-index: 99;
}
.no-padding-right{
    padding-right:0px;
}
.no-padding-left{
    padding-left:0px;
}
.scroll-left {
    height: 50px;	
    overflow: hidden;
    position: relative;
    background:#116BB7;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.scroll-left p {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   -moz-transform:translateX(100%);
   -webkit-transform:translateX(100%);	
   transform:translateX(100%);	
   -moz-animation: scroll-left 15s linear infinite;
   -webkit-animation: scroll-left 15s linear infinite;
   animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
   0%   { -moz-transform: translateX(100%); }
   100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
   0%   { -webkit-transform: translateX(100%); }
   100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
   0%   { 
   -moz-transform: translateX(100%); /* Browser bug fix */
   -webkit-transform: translateX(100%); /* Browser bug fix */
  transform: translateX(100%); 		
    }
   100% { 
   -moz-transform: translateX(-100%); /* Browser bug fix */
   -webkit-transform: translateX(-100%); /* Browser bug fix */
   transform: translateX(-100%); 
    }
}
.video-padding{
    padding:15px 15px 0px 15px;
}
.padding{
    padding:15px 15px 0px 0px;
}
.health-img-div1, .health-img-div2{
    height:182px;
    overflow: hidden;
    position:relative;
}
.health-img-div1{
    margin-bottom:15px;
}
.health-care-title1, .health-care-title2{
    display: block;
    position: absolute;
    bottom: 0px;
    background-color: rgba(34, 34, 34, 0.79);
    color: #fff;
    padding: 8px;
    width: 100%;
    font-size: 18px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}
.schedule-text1, .schedule-text2, .schedule-text3, .schedule-text4, .schedule-text5{
    position: relative;
    padding: 15px;
    background: #01973D;
    width: 100%;
    left: 37px;
    -webkit-transform: skewx(36deg);
    -moz-transform: skewx(36deg);
    -o-transform: skewx(36deg);
    transform: skewx(36deg);
}
.schedule-text2{
    left:22px;
    background-color:#116BB7;
}
.schedule-text3{
    left:7px;
    background-color:#116BB7;
}
.schedule-text4{
    left:-7px;
    background-color:#116BB7;
}
.schedule-text5{
    left:-25px;
    padding:0px;
}
.exclusive-health-padding{
    padding: 8px 45px 0px 14px;
}
.inner{
    display:block;
    -webkit-transform: skewx(-36deg);
    -moz-transform: skewx(-36deg);
    -o-transform: skewx(-36deg);
    transform: skewx(-36deg);
    text-align: center;
    font-size: 22px;
    color: #fff;
}
.inner-padding-left{
    padding-left:35px;
}
.today-text-padding{
    padding: 8px 10px 0px 10px;
}
.exclusive-top-padding{
    padding:0px 15px;
}
.exclusive-border{
    position: relative;
    height: 4px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 15px;
    width: 180px;
}
.exclusive-text{
    padding: 2px 10px;
    background: #01973D;
    font-size:20px;
}
.ace-health-progrm{
    padding: 8px 0px 19px;
    margin: 0px;
    color: #fff;
    font-size: 28px;
    text-align:center;
    -webkit-transform: skewx(-36deg);
    -moz-transform: skewx(-36deg);
    -o-transform: skewx(-36deg);
    transform: skewx(-36deg);
}
/*timeline css*/
.hr-border1, .hr-border2{
    margin:-2px auto 0px;
    border: 0;
    border-top: 2px solid #ECECEC;
}
.hr-border2{
    border-top: 2px solid #DADADA;
}
.latest-articles, .latest-videos{
    color: #222;
    border-bottom: 4px solid #2A90E5;
    display: inline-block;
    margin: 0px;
    padding: 25px 0px 8px;
    font-weight: bold;
}
.max-height-news{
    height:530px;
}
.timeline {
    list-style: none;
    padding: 20px 0 0px;
    position: relative;
    margin:0px;
}
.timeline:before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color:#CCCCCC;
    left: 25%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    height: 150px;
    overflow: hidden;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 65%;
    float: right;
    position: relative;
    background-color: #E1E1E1;
    height:128px;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 53px;
    right: -10px;
    width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 25px solid #E1E1E1;
	border-bottom: 12px solid transparent;
    display: inline-block;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #eee;
    width: 45px;
    height: 45px;
    line-height: 52px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 44px;
    left: 25%;
    margin-left: -24px;
    background-color: #177DBF;
    z-index: 100;
    border-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -14px;
    right: auto;
}
.news-schedules{
    display:block;
    width:35%;
    margin-top:50px;
}
.news-date, .news-day{
    display:block;
    font-size:18px;
    color:#969696;
}
.news-day{
    color:#00973D;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body p{
    color:#454545;
}
.timeline-title{
    color:#628EBF;
    font-weight:bold;
    margin: 0px auto 4px;
}
.timeline-title a{
    text-decoration:none;
    font-weight: 400;
}
.timeline-title a:hover{
    color:#628EBF;
}
.timeline-img{
    padding:10px;
}
.timeline-news{
    padding:10px;
    display:inline-block;
}
.margin-timeline-videos{
    margin:15px auto 0px;
}
.videos-back-color{
    background-color:#ECECEC;
    padding: 0px 15px 20px;
}
.latest-videos-margin1{
    margin:20px auto 0px;
}
.latest-videos-margin2, .latest-videos-margin3{
    margin:15px auto 0px;
}
.embeded-videos{
    position:relative;
}
.video-title{
    position: absolute;
    padding: 6px 8px;
    display: block;
    bottom: 5px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(34, 34, 34, 0.48);
    width: 100%;
    text-align:center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-title .fa-play{
    padding: 0px;
    height: 25px;
    width: 25px;
    line-height: 22px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    font-size: 12px;
}
.sponser-margin{
    margin: 20px auto 0px;
}
.sopnsr-padding{
    padding:0px;
}
.our-sposnors{
    display: block;
    padding: 20px 8px;
    background: green;
    margin: 10px auto;
    color: #fff;
    font-size: 18px;
    text-align:center;
}
.bxslider li img{
    max-height:65px;
}
.bx-wrapper .bx-viewport {
    margin:10px auto;
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc; 
    box-shadow: 0 0 0px #ccc; 
    border: 0px solid #fff;
    left: 0px;
    background: #fff;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
/*about us css starts here*/
.about-us-banner-img, .contact-us-banner-img, .videos-banner-img, .image-banner-img, .articles-banner-img, .inner-articles-banner-img, .live-tv-banner-img, .advertise-banner-img, .add-with-us-banner-img{
    background-image:url(../images/banner.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
.about-us-details{
    padding: 30px 0px 0px;
    font-size: 16px;
    line-height: 25px;
    color: #898989;
    text-align: left;
}
.about-us-heading, .contact-us-heading, .videos-heading, .image-heading, .articles-heading, .inner-articles-heading, .live-tv-heading, .advertise-heading, .add-with-us-heading{
    font-size: 36px;
    color: #fff;
    z-index: 999;
    position: relative;
    margin: 15px 0px;
}
.inner-articles-heading{
    display: block;
    margin: 9px 0px;
}
.banner-blur-background{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(34, 34, 34, 0.5);
}
/*about us css ends here*/
/*advertise with us css starts here*/
#advertise-form{
    margin:50px auto;
}
.margin-bottom{
    margin:0px auto 30px !important;
}
.select2-container{
    width:100% !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
    padding: 12px 2px;
    font-size: 16px;
    height:auto;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color:#84868B;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 15px;
    right:5px;
}
/*.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}*/
/*advertise with us css ends here*/
/*contact us css starts here*/
.contact_details{
    margin: 70px auto 0px;
}
.contact-icons-padding{
    margin: 0px auto 70px;
}
.address-fields .title {
	padding:10px 0
}
.contact-us-address-title h3{
    font-size: 20px;
    margin-top: 5;
    font-weight:600;
}
.address-icons{
	background:#328EDB;
	height:50px;
	line-height:60px;
	margin:35px auto;
	color:#fff;
	position:relative;
	width:90px
}
#hexagon { 
    width: 100px; 
    height: 55px; 
    background: #328EDB; 
    position: relative;
} 
#hexagon:before { 
    content: ""; 
    position: absolute; 
    top: -25px; 
    left: 0; 
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #328EDB;
} 
#hexagon:after {
    content: ""; 
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent;
    border-top: 25px solid #328EDB; 
}
.contact-us-details, .contact-us-details a{
    color:#83939C;
    font-weight:400;
    font-size:16px;
}
.contact-us-details a:hover{
    color:#83939C;
    text-decoration:none;
}
.drop-us-a-line{
    margin:40px auto;
}
.drop-us-a-line  hr{
    border-top: 1px solid #d4d4d4;
    position: relative;
    max-width: 235px;
    margin: 0 auto 10px;
}
.drop-us-a-line hr::after {
    position: absolute;
    border-top-color: #21C2F8;
    left: 30%;
    right: 30%;
    top: -1px;
    border-top: 1px solid #21C2F8;
    content: '';
}
.form-control {
    height: auto;
    padding: 15px 12px;
    font-size: 16px;
    margin: 0px auto 20px;
}
.Message{
    resize:none;
}
.form-padding{
    margin:0px auto 30px;
}
.contact-map{
    position:relative;
    margin: 130px auto;
    border: 2px solid #ccc !important;
    border-radius:4px;
}
/*validations*/
.popup {
    background: #1496bb;
    color: #fff;
    display: block;
    right: 15px;
    top: -28px;
    font-size: 14px;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    display: block;
    border-radius: 5px;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.triangle-down {
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 13px solid #1496BB;
    position: absolute;
    right: 22px;
    top: 12px;
}
/*contact us css ends here*/
/*videos css starts here*/
.video{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.videos-padding{
    padding:20px 15px;
}
.videos-div{
    position:relative;
}
.gallery-video-title, .gallery-image-title{
    position: absolute;
    left:0px;
    padding: 8px 8px;
    display: block;
    bottom: 0px;
    font-size: 16px;
    color:#fff !important;
    background-color:#222 !important;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-iframe{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 9999;
}
/*videos css ends here*/
/*image gallery css starts here*/
.gallery-images, .videos-div{
    position:relative;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.all-img-padding, .album-padding{
    padding:30px 15px 0px;
}
.nav-tabs{
    margin:20px auto;
}
.nav-tabs > li > a {
    padding: 10px 15px;
    font-size: 16px;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-bottom: 4px solid transparent;
    color: #222;
    font-weight: 400;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: gray;
    cursor: default;
    background-color: #fff;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-bottom: 4px solid #328EDB !important;
    font-weight: 400;
}
.nav-tabs > li > a:hover{
    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-bottom-color: #328EDB;
    background-color:#fff;
    color:gray;
    font-weight: 400;
}
/*imges hover effect*/
.second-effect .mask {
   opacity: 0;
   overflow:visible;
   border:0px solid rgba(0,0,0,0.7);
   position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.second-effect .info {
	position:relative;
	top:-10px;
	opacity:0;
   -moz-transform:scale(0,0);
   -webkit-transform:scale(0,0);
   -o-transform:scale(0,0);
   -ms-transform:scale(0,0);
   transform:scale(0,0);
   -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
.second-effect:hover .mask {
   opacity: 1;
   border:80px solid rgba(0,0,0,0.7);
}
.second-effect:hover .info {
	opacity:1;
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
}
.info {
    display:block;
    text-decoration: none;
    padding: 0;
    width: 20px;
    height: 20px;
    margin: 0px auto;
    color: #fff;
    font-size: 22px;
}	
/*image gallery css ends here*/
/*for album gallery hover effect starts*/
.album-hover{
    height: auto;
    margin: 16px;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border:2px solid #4AC3BE;
    border-radius: 6px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
.album-hover:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 6px 6px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    content: '';
    display: inline-block;
}
.album-hover:before{
    content: '';
    display: inline-block;
}
.album-hover:hover::after{
    opacity: 0.6;
}
.album-hover-icon{
    margin:0 auto;
    width: 55px;
    height: 55px;
    background: rgba(255,255,255,0.5);
    border: 2px solid #4AC3BE;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    position: absolute;
    top: 14%;
    right: 0;
    bottom: 0;
    left: 0;
}
.album-hover-icon-folder{
    display: inline-block;
    width: 35px;
    height: 25px;
    background: rgba(255,255,255,0.5);
    border: 4px solid #4AC3BE;
    border-radius: 6px;
    cursor: pointer;
    transform: perspective(400) rotateY(1deg);
    -moz-transform: perspective(400) rotateY(1deg);
    -o-transform: perspective(400) rotateY(1deg);
    -webkit-transform: perspective(400) rotateY(1deg);
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    position: relative;
    box-sizing: border-box;
}
.album-hover-icon-folder::before{
    background: #4AC3BE;
    position: absolute;
    left: 8px;
    top: -7px;
    width: 10px;
    height: 4px;
    border-radius: 4px;
    -moz-transform: perspective(20) rotateX(40deg);
    -o-transform: perspective(20) rotateX(40deg);
    -webkit-transform: perspective(20) rotateX(40deg);
    transform: perspective(20) rotateX(40deg);
    content: '';
    display: inline-block;
}
.album-hover-icon-folder::after{
    position: absolute;
    left: -4px;
    bottom: -2px;
    border-radius: 4px 4px 2px 2px;
    width: 35px;
    height: 25px;
    background: #4AC3BE;
    transform: perspective(400) rotateX(-5deg);
    -moz-transform: perspective(400) rotateX(-5deg);
    -o-transform: perspective(400) rotateX(-5deg);
    -webkit-transform: perspective(400) rotateX(-5deg);
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transition: all 0.3s 0.5s ease;
    -moz-transition: all 0.3s 0.5s ease;
    -o-transition: all 0.3s 0.5s ease;
    -webkit-transition: all 0.3s 0.5s ease;
    content: '';
    display: inline-block;
}
.album-hover:hover .album-hover-icon-folder{
    transform: perspective(400) rotateY(30deg) !important;
    -moz-transform: perspective(400) rotateY(30deg) !important;
    -o-transform: perspective(400) rotateY(30deg) !important;
    -webkit-transform: perspective(400) rotateY(30deg) !important;
}
.album-hover:hover .album-hover-icon {
    opacity: 1;
}
.album-hover:hover .album-hover-icon-folder::after{
    height: 100%;
    transform: perspective(600) rotateX(-30deg);
    -moz-transform: perspective(600) rotateX(-30deg);
    -o-transform: perspective(600) rotateX(-30deg);
    -webkit-transform: perspective(600) rotateX(-30deg);
}
.album-hover:hover .album-hover-icon-folder:active{
    transform: perspective(400) rotateY(45deg) scale(0.9, 0.9);
    -moz-transform: perspective(400) rotateY(45deg) scale(0.9, 0.9);
    -o-transform: perspective(400) rotateY(45deg) scale(0.9, 0.9);
    -webkit-transform: perspective(400) rotateY(45deg) scale(0.9, 0.9);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.album-hover:hover .album-hover-icon-folder:active::after{
    transform: perspective(600) rotateX(-50deg);
    -moz-transform: perspective(600) rotateX(-50deg);
    -o-transform: perspective(600) rotateX(-50deg);
    -webkit-transform: perspective(600) rotateX(-50deg);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
/*for album gallery hover effect ends*/
/*articles css starts here*/
.articles-padding{
    padding:15px 15px 0px;
}
/*.article-padding-bottom{
    padding-bottom: 15px;
}*/
/*.article-img-padding{
    padding:0px 0px 0px 15px;
}*/
.bottom-brdr{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 10px #ccc;
}
/*.bottom-brdr1, .bottom-brdr2, .bottom-brdr3{
    margin:0px 0px 15px;
}*/
/*.bottom-brdr1, .bottom-brdr2{
    border-right:1px solid #ccc;
}
.bottom-brdr1::after, .bottom-brdr2::after, .bottom-brdr3::after{    
    content: "";
    position: absolute;
    border-bottom: 1px solid #ccc;
    width: 85%;
    right:0;
}
.bottom-brdr2::after{ 
    width: 100% !important;
}
.bottom-brdr3::after{
    left:0;
}*/
.article-news-title{
    color: #222;
    font-size: 14px;
    text-align: left;
}
.article-news-title:hover{
    color:#222;
}
.articles-dates{
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    color: #777;
}
.mobile-article-img{
    padding:0px 0px 0px 15px;
}
.inner-article-img-padding{
    padding:20px 15px;
}
.inner-heading-title{
    padding:0px 0px 15px;
    border-bottom:1px solid #ccc;
}
.inner-articl-date{
    display: block;
    font-size: 22px;
    color: #ccc;
    margin: 10px 0px;
}
.inner-detail-articls{
    font-size:18px;
    color:#222;
    margin:0px 0px 20px;
}
.similar-posts{
    font-size: 26px;
    border-bottom: 4px solid #328EDB;
    padding: 8px 0px;
}
.sililar-posts-heading hr{
    margin: 7px auto 0px;
    border-top: 2px solid #eee;
}
.alll-articl-bottom-padding{
    padding:0px 0px 20px;
}
/*articles css ends here*/
/*live tv css starts here*/
.live-tv-video{
    padding: 15px 0px 0px;
}
.live-tv-img1{
    padding: 15px 0px 0px 15px;
}
.live-tv-img2, .live-tv-img3{
    padding: 15px 15px 0px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      height:350px;
      margin: auto;
}
.vertical-slider > .item > img,
.vertical-slider > .item > a > img {
      width: 100%;
      height:715px;
      margin: auto;
}

/*live tv css ends here*/
@media screen and (min-width: 300px) and (max-width: 767px){
    /*.xs-width{
        width:100% !important;
    }*/
    .logo-img{
        margin:0px auto 0;
    }
    .navbar-margin{
        margin:6px 0px;
    }
    .mobile-player{
        border-radius:6px; 
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    }
    .audioplayer {
        margin: 0px;
        border-radius: 6px;
    }
    #demo_ul{
        position:fixed !important;
        margin-top: 0px !important;
        left:0px !important;
        padding: 0px 0px 30px !important;
        z-index: 99999;
    }
    .demo_li{
        height: 70px;
        text-align: center;
        padding-top: 12px;  
    }
    .pop_ctrl .fa{
        font-size:35px;
        color:#125A95;
    }
    .demo_li .fa {
        font-size: 36px;
        line-height: 70px;
    }
    .mnavbar-active{
        background: rgb(46, 138, 215) none repeat scroll 0% 0%;
    }
    /*.btn-dlod{
        float:none !important;
        margin:0px auto;
    }*/
    .rdlod{
        display:none !important;
    }
    .download-icons, .back-icon{
        display:none !important;
    }
    .navstore, .back-icon-width{
        display:block !important;
        width:100% !important;
    }
    .back-to-navbar{
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 10px 20px;
        font-size: 30px;
    }
    .no-margin{
        margin-top:15px;
    }
    .fa-arrow-circle-left{
        height: 50px;
        line-height: 50px;
        width: 50px;
    }
    .play-store img {
        margin: 10px 0px;
    }
    .padding{
        padding:15px 15px 0px 15px;
    }
    .full-padding{
        padding:0px 15px;
    }
    .schedule-text1, .schedule-text2, .schedule-text3, .schedule-text4, .schedule-text5{
        left:0px;
        -webkit-transform: skewx(0deg);
        -moz-transform: skewx(0deg);
        -o-transform: skewx(0deg);
        transform: skewx(0deg);
    }
    .inner{
        font-size: 16px;
        -webkit-transform: skewx(0deg);
        -moz-transform: skewx(0deg);
        -o-transform: skewx(0deg);
        transform: skewx(0deg);
    }
    .exclusive-top-padding{
        padding:15px 15px 0px;
    }
    .ace-health-progrm{
        -webkit-transform: skewx(0deg);
        -moz-transform: skewx(0deg);
        -o-transform: skewx(0deg);
        transform: skewx(0deg);
    }
    .today-text-padding{
        padding: 15px 15px 0px 15px;
    }
    .exclusive-border{
        position: relative;
        height: 4px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        top: 15px;
        width: 220px;
    }
    .exclusive-text{
        padding: 2px 10px;
        background: #01973D;
        font-size:20px;
    }
    .inner-padding-left{
        padding-left:0px;
    }
    .embeded-videos iframe{
        height:200px;
    }
    .timeline > li > .timeline-panel, .timeline > li, .max-height-news{
        height: auto;
    }
    .sponser-margin{
        margin: 0px auto;
    }
    .sopnsr-padding{
        padding:15px;
    }
    .our-sposnors{
        padding: 10px 8px;
    }
    .about-us-banner-img, .contact-us-banner-img, .videos-banner-img, .image-banner-img, .articles-banner-img, .inner-articles-banner-img, .live-tv-banner-img, .advertise-banner-img, .add-with-us-banner-img{
        margin-top: 15px;
    }
    .contact-us-details, .contact-us-details a {
        font-size: 14px;
    }
    .contact_details{
        margin: 20px auto 0px;
    }
    .contact-icons-padding{
        margin: 0px auto 30px;
    }
    /*articles*/
    /*.bottom-brdr1, .bottom-brdr2{
        border-right:none;
    }
    .bottom-brdr1::after, .bottom-brdr2::after, .bottom-brdr3::after{ 
        width: 30% !important;
        margin:0px auto !important;
        left:0;
        right:0;
    }*/
    .articles-padding {
        padding: 15px 15px 0px;
    }
    .article-news-title{
        font-size:12px;
        display: block;
    }
    .articles-dates {
        padding: 4px 0px 0px;
        font-size:10px;
    }
    .article-padding-bottom {
        padding-bottom: 0px;
    }
    .bottom-brdr1, .bottom-brdr2, .bottom-brdr3 {
        margin: 0px;
    }
    .mobile-article-img{
        padding:0px 0px 0px 15px;
    }
    /*live tv*/
    .m-view-padding{
        padding-bottom:20px;
    }
    .area-code-padding{
        padding:0px 15px;
    }
    .select2-container {
        margin-bottom: 30px;
    }
    .live-tv-img1{
        padding: 15px 15px 0px;
    }
}

@media screen and (min-width: 300px) and (max-width: 480px){
    .news-schedules{
        display:none;
    }
    .m-news-date-day{
        display:block;
        font-size:12px;
        color:#969696;
    }
     .m-news-date-day span{
        color:#00973D;
     }
    .timeline:before {
        left: 9%;
        margin-left: -3.5px;
    }
    .timeline > li > .timeline-badge {
        left: 9%;
        width: 40px;
        height: 40px;
        line-height: 46px;
        font-size: 16px;
        margin-left: -23px;
    }
    .timeline > li > .timeline-panel {
        width: 80%;
    }
    .timeline > li.timeline-inverted > .timeline-panel:before {
        left: -10px;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px){
    .navstore{
        width:50% !important;
    }
    .back-icon-width{
        width:100%;
    }
    .m-news-schedules{
        display:none; 
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    /*.xs-width{
        width:75% !important;
    }*/
    .app-store {
        font-size: 38px;
        padding: 0px 0px 0px 14px;
    }
    .apple-available-text, .play-available-text {
        font-size: 12px;
    }
    .apple-app-store-text, .play-app-store-text {
        font-size: 24px;
    }
    .social-icons{
        padding:0px;
    }
    .play-store img {
        margin: 5px 10px 5px 14px;
        height: 42px;
        width: 42px;
    }
    .padding{
        padding:15px 15px 0px 15px;
    }
    .social-icons li {
        padding: 2px;
    }
    #triangle-right {
        border-top: 25px solid transparent;
    }
    .advertise a{
        font-size: 13px;
        padding: 9px 0px 8px 19px;
    }
    .schedule-text1, .schedule-text2, .schedule-text3, .schedule-text4, .schedule-text5{
        left:0px;
        -webkit-transform: skewx(0deg);
        -moz-transform: skewx(0deg);
        -o-transform: skewx(0deg);
        transform: skewx(0deg);
    }
    .inner{
        font-size: 16px;
        -webkit-transform: skewx(0deg);
        -moz-transform: skewx(0deg);
        -o-transform: skewx(0deg);
        transform: skewx(0deg);
    }
    .exclusive-top-padding{
        padding:0px 15px;
    }
    .ace-health-progrm{
        -webkit-transform: skewx(0deg);
        -moz-transform: skewx(0deg);
        -o-transform: skewx(0deg);
        transform: skewx(0deg);
    }
    .exclusive-border{
        position: relative;
        height: 4px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        top: 15px;
        width: 220px;
    }
    .exclusive-text{
        padding: 2px 10px;
        background: #01973D;
        font-size:20px;
    }
    .today-text-padding{
        padding: 15px 15px 0px 15px;
    }
    .inner-padding-left{
        padding-left:0px;
    }
    .timeline > li > .timeline-badge {
        width: 40px;
        height: 40px;
        line-height: 42px;
        font-size: 14px;
        left: 26%;
        margin-left: -27px;
    }
    .news-schedules {
        margin-top: 30px;
    }
    .news-date, .news-day {
        font-size: 18px;
    }
    .timeline > li.timeline-inverted > .timeline-panel:before {
        left: -12px;
    }
    .embeded-videos iframe{
        height:200px;
    }
    .our-sposnors {
        padding: 12px 2px;
        font-size: 14px;
    }
    .contact-us-details, .contact-us-details a {
        font-size: 14px;
    }
     /*articles*/
    /*.bottom-brdr2{
        border-right:none;
    }
    .bottom-brdr1::after{ 
        width: 80% !important;
        right:0;
    }
    .bottom-brdr3::after{ 
        width: 80% !important;
        right:0 !important;
        left:20% !important;
    }
    .bottom-brdr2::after{
        width: 80% !important;
        left:0;
    }*/
    .article-news-title{
        font-size:12px;
        margin:0px;
        display: block;
    }
    .articles-dates {
        padding: 0px;
    }
}

@media screen and (min-width: 944px) and (max-width: 1024px){
    .our-sposnors {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    /*.xs-width{*/
    /*    width: 83.33333333% !important;*/
    /*}*/
    .apple-app-store-text, .play-app-store-text {
        font-size: 24px;
    }
    .apple-available-text, .play-available-text {
        font-size: 12px;
    }
     #triangle-right {
        border-top: 25px solid transparent;
    }
    .advertise a {
        font-size: 16px;
    }
    .exclusive-health-padding{
        padding: 8px 26px 0px 14px;
    }
    .inner{
        font-size: 14px;
    }
    .inner-padding-left{
        padding-left:0px;
    }
    .today-text-padding{
        padding: 8px 10px 0px 10px;
    }
    .exclusive-top-padding{
        padding:0px 15px;
    }
    .exclusive-text{
        padding: 2px 10px;
        font-size:20px;
    }
    .ace-health-progrm{
        font-size:20px;
        padding: 7px 0px 10px;
    }
    .news-date, .news-day {
        font-size: 14px;
    }
    .timeline:before {
        left: 26%;
    }
    .timeline > li > .timeline-badge {
        left: 26%;
    }
    .embeded-videos iframe{
        height:150px;
    }
    .our-sposnors {
        padding: 22px 2px;
        font-size: 14px;
    }
    .timeline > li.timeline-inverted > .timeline-panel:before {
        left: -8px;
    }
     .article-news-title{
        font-size:14px;
        margin:0px;
        display: block;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1280px){
    .apple-app-store-text, .play-app-store-text {
        font-size: 22px;
    }
    .apple-available-text, .play-available-text {
        font-size: 12px;
    }
    .app-store {
        font-size: 38px;
    }
    .social-icons {
        padding: 0px 0px 0px 22px;
    }
     #triangle-right {
        border-top: 25px solid transparent;
    }
    .exclusive-health-padding{
        padding: 8px 28px 0px 14px;
    }
    .inner{
        font-size: 20px;
    }
    .inner-padding-left{
        padding-left:0px;
    }
    .today-text-padding{
        padding: 8px 10px 0px 10px;
    }
    .exclusive-top-padding{
        padding:0px 15px;
    }
    .exclusive-text{
        padding: 2px 10px;
        font-size:20px;
    }
    .ace-health-progrm{
        padding: 7px 0px 20px;
        font-size:26px;
    }
}
