/* Css forImage Preview Before Upload */

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.image-preview-input-new {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input-new input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title-new {
    margin-left:2px;
}
/* Css forImage Preview Before Upload */

.cssload-whirlpool ,.cssload-whirlpool1, .cssload-whirlpool2, .cssload-whirlpool3, .cssload-whirlpool4 {
	display:none;
	z-index:9999;
}	
.cssload-whirlpool, .cssload-whirlpool1, .cssload-whirlpool2, .cssload-whirlpool3,.cssload-whirlpool4,
.cssload-whirlpool::before, .cssload-whirlpool1::before, .cssload-whirlpool2::before, .cssload-whirlpool3::before, .cssload-whirlpool4::before,
.cssload-whirlpool::after, .cssload-whirlpool1::after, .cssload-whirlpool2::after, .cssload-whirlpool3::after, .cssload-whirlpool4::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid red;
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.cssload-whirlpool, .cssload-whirlpool1, .cssload-whirlpool2, .cssload-whirlpool3, .cssload-whirlpool4 {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before, .cssload-whirlpool1::before, .cssload-whirlpool2::before, .cssload-whirlpool3::before, .cssload-whirlpool4::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after, .cssload-whirlpool1::after, .cssload-whirlpool2::after, .cssload-whirlpool3::after, .cssload-whirlpool4::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}
.custom-dropbox,.custom-submit {
	display:none;
}
.no-left-padding {
    padding-left:0px !important;
}
.no-right-padding {
    padding-right:0px !important;
}
.form-box {
	position:relative;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    height: 34px !important;
    padding: 6px 12px !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px !important;
}
.no-padding {
	padding-left:0px !important;
	padding-right:0px !important;
}
.custom-form {
	display:none;
}
.updateform {
	display:none;
}
.fileinput-upload {
	display:none;
}
.noresize {
  resize: none !important; 
}
.panel-heading {
    background: #46584d none repeat scroll 0 0;
    color: #fff;
}
.custom-body {
	padding:0px !important;
}
#sortable-row {
	list-style: none;
	padding:0px;
}
#sortable-row li { 
	margin-bottom:4px; 
	padding:10px; 
	background-color:#BBF4A8;
	cursor:move;
}
.btnSave{
	padding: 10px 20px;
	background-color: #09F;
	border: 0;
	color: #FFF;
	cursor: pointer;
}  
#sortable-row li.ui-state-highlight { 
	height: 1.0em; 
	background-color:#F0F0F0;
	border:#ccc 2px dotted;
}
.kv-file-upload {
	display:none;
}
.filealert {
	display:none;
}